---
import { getCollection } from "astro:content"

import { sortBy } from "../utils/sorting"

import CvSection from "../components/CvSection.astro"
import CvTableSection from "../components/CvTableSection.astro"

import "../styles/global.css";

// Personal data, sorted by relevance
const personal = (await getCollection('personal'))
	.sort(sortBy('displayOrder'));

const personalItems = personal.map(p => ({
	label: p.data.category,
	value: p.data.content
}));

// Experience entries, sorted oldest -> newest
const experience = (await getCollection('experience'))
	.sort(sortBy('displayOrder', true));

const experienceItems = experience.map(exp => ({
	title: exp.data.companyName,
	subtitle: exp.data.jobTitle,
	floating: `${exp.data.startDate} – ${exp.data.endDate}`,
	details: exp.data.details,
	image: exp.data.image
}));

// Education entries, sorted oldest -> newest
const education = (await getCollection('education'))
	.sort(sortBy('displayOrder', true));

const educationItems = education.map(edu => ({
	title: edu.data.institutionName,
	subtitle: edu.data.qualification,
	floating: `${edu.data.enrollmentYear} – ${edu.data.graduationYear}`,
	details: edu.data.details,
	image: edu.data.image
}))

// Skills, sorted by relevance
const skills = (await getCollection('skills'))
	.sort(sortBy('displayOrder'));

const skillsItems = skills.map(s => ({
	label: s.data.category,
	value: s.data.content
}));

// Languages, sorted by proficiency
const languages = (await getCollection('languages'))
	.sort(sortBy('displayOrder'));

const languageItems = languages.map(l => ({
	label: l.data.language,
	value: l.data.proficiency
}));
---

<html lang="nl">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lars Beijaard</title>
	</head>
	<body class="max-w-2xl mx-auto py-12 px-6">
		<main class="flex flex-col space-y-10">
			<h1 class="text-2xl font-bold mx-auto">CV</h1>

			<CvTableSection title="Gegevens" items={personalItems} />
			<CvSection title="Ervaringen" items={experienceItems} />
			<CvSection title="Opleidingen" items={educationItems} />
			<CvTableSection title="Vaardigheden" items={skillsItems} />
			<CvTableSection title="Talen" items={languageItems} />
		</main>
	</body>
</html>
